<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Terminal Backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-white text-gray-800">

<!-- Header -->
<div th:include="fragments/header :: header"></div>

<!-- Navigation Bar -->
<div th:include="fragments/navbar :: navbar"></div>

<!-- Main Content -->
<main class="py-10">

    <div class="max-w-6xl mx-auto p-6" th:switch="${options}">
        <h1 th:case="null" class="text-3xl font-semibold text-center mb-6">Aucune Option</h1>

        <div th:case="*">
            <h1 class="text-3xl font-semibold text-center mb-6">Liste des Options</h1>
            <p class="mb-8 mt-8">
                <button class="mt-4 bg-orange-600 text-white py-1 px-2 rounded-lg hover:bg-green-500 transition border-2">
                    <a href="/option/formAdd">
                        Ajouter une option +
                    </a>
                </button>
            </p>

            <div class="overflow-x-auto shadow-md rounded-lg bg-white">
                <table class="min-w-full table-auto text-left">
                    <thead class="bg-gray-200">
                    <tr>
                        <th class="py-3 px-6 text-sm font-medium text-gray-700">ID Option</th>
                        <th class="py-3 px-6 text-sm font-medium text-gray-700">Nom de l'Option</th>
                        <th class="py-3 px-6 text-sm font-medium text-gray-700">Description</th>
                        <th class="py-3 px-6 text-sm font-medium text-gray-700">Montant</th>
                        <th class="py-3 px-6 text-sm font-medium text-gray-700">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="text-gray-700">
                    <tr th:each="option : ${options}">
                        <td class="py-3 px-6 text-sm" th:text="${option.getId()}"></td>
                        <td class="py-3 px-6 text-sm" th:text="${option.getName()}"></td>
                        <td class="py-3 px-6 text-sm" th:text="${option.getDescription()}"></td>
                        <td class="py-3 px-6 text-sm" th:text="${option.getPrice()} + '€'"></td>
                        <td class="py-3 px-6 text-sm">
                            <button class="mt-4 text-green-600 py-1 px-2 rounded-lg hover:bg-green-500 hover:text-white transition border-2">
                                <a th:href="@{/option/edit/{id}(id = ${option.getId()})}">
                                    Modifier
                                </a>
                            </button>
                            <button class="mt-4 text-orange-600 py-1 px-2 rounded-lg hover:bg-orange-500 hover:text-white transition border-2">
                                <a th:href="@{/option/delete/{id}(id = ${option.getId()})}">
                                    Supprimer
                                </a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</main>

<!-- Footer -->
<div th:include="fragments/footer :: footer"></div>




<script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</body>

</html>
