<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Plats</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<div class="flex h-screen">
    <!-- Sidebar -->
    <aside  class="w-64 bg-white shadow-md p-4" th:include="fragments/sidebar :: sidebar"></aside>

    <!-- Main Content -->
    <main class="flex-1 p-6">
        <div class="flex justify-between items-center mb-4">

            <div class="relative w-full bg-gradient-to-r from-indigo-500 to-blue-500 text-white p-6 mb-5 flex justify-between items-center rounded-lg shadow-md">
                <h1 class="text-2xl font-bold">Gestion des options</h1>

                <button class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition">
                    <a href="/option/formAdd">
                        Ajouter une option
                    </a>
                </button>
            </div>

        </div>
        <div class="grid grid-cols-3 gap-6">
            <!-- Card -->
            <div th:each="option : ${options}" class="bg-white rounded shadow overflow-hidden">
                <img src="https://www.emballagefute.com/3343-large_default/kit-couvert-en-bois.jpg" alt="Image" class="w-full h-40 object-cover">
                <div class="p-4">
                    <h2 class="font-bold" th:text="${option.getName()}">Nom / Titre</h2>
                    <p class="text-gray-600" th:text="${option.getDescription()}">Description.</p>
                    <div class="flex justify-between items-center mt-2">
                        <span class="text-orange-500 font-bold" th:text="${option.getPrice() + '€'}">Prix</span>
                        <div class="flex gap-2">
                            <a th:href="@{/option/edit/{id}(id = ${option.getId})}">
                                <button class="text-gray-500 hover:text-black" title="Éditer">✏️</button>
                            </a>
                            <a th:href="@{/option/delete/{id}(id = ${option.getId()})}">
                                <button class="text-gray-500 hover:text-black" title="Supprimer">🗑️</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>