<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Terminal Backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-white text-gray-800">

<!-- Header -->
<div th:include="fragments/header :: header"></div>

<!-- Navigation Bar -->
<div th:include="fragments/navbar :: navbar"></div>

<!-- Main Content -->
<main class="py-10">

    <div class="max-w-6xl mx-auto p-6">
        <h1 class="text-3xl font-semibold text-center mb-6">Détails de la commande</h1>

        <form th:action="@{/order/update/{id}(id = ${order.getId()})}" th:object="${order}" method="post">
            <div class="space-y-4">
                <div class="flex flex-col">
                    <label for="reference" class="text-sm font-medium text-gray-700">Référence de la commande</label>
                    <input type="text" id="reference" name="reference" th:value="${order.getReference()}" class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" readonly>
                </div>

                <div class="flex flex-col">
                    <label for="email" class="text-sm font-medium text-gray-700">Email de l'étudiant</label>
                    <input type="text" id="email" name="email" th:value="${order.getEmail()}" class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" readonly>
                </div>

                <div class="flex flex-col">
                    <label for="price" class="text-sm font-medium text-gray-700">Prix (€)</label>
                    <input type="number" id="price" name="price" th:value="${order.getPrice()}" class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" readonly>
                </div>

                <div class="flex justify-end space-x-4">
                    <a th:href="@{/order}" class="text-gray-600 hover:text-gray-800">Annuler</a>
                    <!--<button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">Sauvegarder</button>-->
                </div>
            </div>
        </form>

    </div>

</main>

<!-- Footer -->
<div th:include="fragments/footer :: footer"></div>




<script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</body>

</html>