<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Click'n'Miam - Option edit</title>
    <script src="https://cdn.tailwindcss.com"></script>>
</head>
<body>
<form>
    <label for="option_id">ID</label>
    <input type="number" name="option_id" id="option_id" th:value="${option.getId()}">

    <label for="option_name">Name</label>
    <input type="text" name="option_name" id="option_name" th:value="${option.getName()}">

    <label for="option_description">Description</label>
    <input type="text" name="option_description" id="option_description" th:value="${option.getDescription()}">

    <label for="option_price">Price</label>
    <input type="number" name="option_price" id="option_price" th:value="${option.getPrice()}">
</form>

</body>
</html>